.landing_section_title_whyUs {
  //   border: green 2px solid;

  color: #223c66;
}

.landing_section_whyUs {
  //   border: red 2px solid;

  margin: 0 auto;

  min-height: 650px;
}

.landing_programmes {
  //   border: blue 2px solid;
  width: 100%;
  margin-top: 0;

  position: relative;

  // overwrite min height
  min-height: 820px;
  //   height: 820px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.landing_section_title_programmes {
  color: white;
  //   border: green 2px solid;
}
