@import "./themes/themeColors.scss";

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

html,
body {
  // font-family: "Poppins";
  position: relative;
}

a {
  color: #2e7bc1;
  text-decoration: none;
}

.container {
  padding: 100px 155px 100px;
}
