.textBlock_container {
  width: 100%;
  height: 100%;
}

.textBlock_heading {
  font-size: 32px;
  font-weight: 70px;

  margin-bottom: 30px;
}

.textBlock_paragraph {
  font-size: 18px;
  font-weight: 400;
}

.textBlock_paragraph:not(:last-of-type) {
  margin-bottom: 40px;
}
