// make sure to import theme colors
// font colors
.fontColor-dark {
  color: black;
}
.fontColor-grey {
  color: grey;
}
.fontColor-mid-grey {
  color: grey;
}
.fontColor-light-grey {
  color: grey;
}
.fontColor-white {
  color: white;
}
.fontColor-inherit {
  color: inherit;
}
.fontColor-primary {
  color: blue;
}
.fontColor-link-blue {
  color: skyblue;
}
.fontColor-navy-blue {
  color: navy;
}
.fontColor-red {
  color: red;
}
.fontColor-orange {
  color: orange;
}
.fontColor-green {
  color: green;
}
.fontColor-yellow {
  color: yellow;
}
.fontColor-purple {
  color: purple;
}

// font weights
.fontWeight-light {
  font-weight: 300;
}
.fontWeight-regular {
  font-weight: 400;
}
.fontWeight-medium {
  font-weight: 500;
}
.fontWeight-semiBold {
  font-weight: 600;
}
.fontWeight-bold {
  font-weight: 700;
}

// font style
.fontStyle-normal {
  font-style: normal;
}

.fontStyle-italic {
  font-style: italic;
}

// backgroundColor
.backgroundColor-dark {
  background-color: black;
}
.backgroundColor-grey {
  background-color: grey;
}
.backgroundColor-mid-grey {
  background-color: grey;
}
.backgroundColor-light-grey {
  background-color: grey;
}
.backgroundColor-white {
  background-color: white;
}
.backgroundColor-inherit {
  background-color: inherit;
}
.backgroundColor-primary {
  background-color: blue;
}
.backgroundColor-link-blue {
  background-color: skyblue;
}
.backgroundColor-navy-blue {
  background-color: navy;
}
.backgroundColor-red {
  background-color: red;
}
.backgroundColor-orange {
  background-color: orange;
}
.backgroundColor-green {
  background-color: green;
}
.backgroundColor-yellow {
  background-color: yellow;
}
.backgroundColor-purple {
  background-color: purple;
}
